<!doctype html>
<html lang="en" ng-app="shoppingListApp">
	<head>
		<title>Shopping list</title>
		<link rel="stylesheet" href="style.css" />
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
	</head>

	<body ng-controller="ShoppingListCtrl">

		<div>
			<ul>
				<li style="list-style-type: none;" ng-repeat="item in items | orderBy:orderProp">
					<input type="checkbox" ng-model="checkbox" ng-checked="checkCheckbox(item.name)" ng-change="checkBoughtItem(item.name, item.description)">
					</input>
					<span ng-class="changeClass(item.bought)">
						{{item.name}} ({{item.description}}) 
					</span>
					<span>
						<input type="button" value="Edit" ng-click="showFormInEditMode(item.name, item.description)">
						</input>
						<input type="button" value="Remove" ng-click="removeItem(item.name)">
						</input>
					</span>
				</li>
			</ul>
			<span>
				<input type="button" value="+" ng-model="click" ng-click="showForm()">
				</input>
				<input type="text" placeholder="Item" ng-model="formName" ng-class="isVisible()">
				</input>
				<input type="text" placeholder="Description" ng-model="formDescription" ng-class="isVisible()">
				</input>
				<input type="button" ng-value="inputMode" ng-model="add" ng-class="isVisible()" ng-click="addEditItem()">
				</input>
			</span>

			<br /><br />

			<span>
				<input type = "button" value="Remove checked items" ng-model="rmrf" ng-click="removeBoughtItems()">
				</input>
			</span>

		</div>

	</body>
</html>