<!doctype html>
<html lang="en" ng-app="shoppingListApp">
	<head>
		<title>Shopping list</title>
		<link rel="stylesheet" href="style.css" />
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
	</head>

	<body class="mainDiv" ng-controller="ShoppingListCtrl">

		<div>
			<span class="text-items">
				Select a category:
			</span>
			<select ng-model="selectModel.name">
				<option ng-repeat="category in categories" value={{category.name}}>{{category.name}}</option>
			</select>
			<ul class="listCenter">
				<li style="list-style-type: none;" ng-repeat="item in items | filter:selectModel.name | orderBy:orderProp">
					<input type="checkbox" ng-model="checkbox" ng-checked="checkCheckbox(item.name)" ng-change="checkBoughtItem(item.name)">
					</input>
					<span>
						<span>
							<input type="button" value="Edit" ng-click="editItem(item.name)" class="styled-button">
							</input>
							<input type="button" value="x" ng-click="removeItem(item.name)" class="styled-button">
							</input>
						</span>
						<span ng-class="strikeItemOrNotClass(item.bought)">
							<span>
								<img src={{item.category.img}} />
							</span>
							<span ng-class="visibilityTextNormalMode(item.editModeOn)">
								<span class="text-items">
									{{item.name}}
								</span>
							</span>
							<input type="text" ng-model="form.name" class="text-items" ng-class="visibilityTextEditMode(item.editModeOn)">
							</input>
							<span ng-class="visibilityTextNormalMode(item.editModeOn)">
								<span class="text-items">
									({{item.description}})
								</span>
							</span>
						</span>
						<input type="text" ng-model="form.description" class="text-items" ng-class="visibilityTextEditMode(item.editModeOn)">
						</input>
					</span>
				</li>
			</ul>
			<span>
				<input type="button" value="+" ng-model="click" ng-click="showForm()"  class="styled-button">
				</input>
				<input type="text" placeholder="Item" ng-model="form.name" ng-class="isVisible()">
				</input>
				<input type="text" placeholder="Description" ng-model="form.description" ng-class="isVisible()">
				</input>
				<select ng-model="form.category.name" ng-class="isVisible()">
					<option ng-repeat="category in categories" value={{category.name}}>{{category.name}}</option>
				</select>
				<input type="button" value = "Add" ng-model="add" ng-class="isVisible()" ng-click="addItem()" class="styled-button">
				</input>
			</span>

			<br /><br />

			<span>
				<input type = "button" value="Remove checked items" ng-model="rmrf" ng-click="removeBoughtItems()" class="styled-button">
				</input>
			</span>

		</div>

	</body>
</html>